*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
}
body{
    margin: 0;
    padding: 0;
    background: lightskyblue;
}
.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(275, 275, 275, .75);
}
.calculator-grid > button.hover{
background-color: rgba(275, 275, 275, .90);
}
.span-two{
    grid-column: span 2;
}
button:nth-child(1){
    font-size: 20px;
    background-color: burlywood;
}
button:nth-child(2){
    font-size: 20px;
    background-color: burlywood;
}
button:nth-child(3){
    font-size: 20px;
    background-color: burlywood;
}
button:nth-child(4){
    font-size: 20px;
    background-color: burlywood;
}
button:nth-child(8){
    font-size: 20px;
    background-color: burlywood;
}
button:nth-child(12){
    font-size: 20px;
    background-color: burlywood;
}
button:nth-child(16){
    font-size: 20px;
    background-color: burlywood;
}
button:nth-child(19){
    font-size: 20px;
    background-color: burlywood;
}
button:nth-child(20){
    font-size: 20px;
    background-color: burlywood;
}
.output{
    grid-column: 1/-1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
.output .previous-operand{
    color: rgba(275, 275, 275, .75);
    font-size: 1.5rem;

}

.output .current-operand{
    color: rgba(275, 275, 275, .75);
    font-size: 2.5rem;
}